#ifndef Blynk_Secrets_h
#define Blynk_Secrets_h

// File at location lib/BlynkEdgent/Blynk_Secrets.h.sample needs to be renamed to Blynk_Secrets.h and filled with your values
#define BLYNK_TEMPLATE_ID "Enter your Blynk template ID" // Copy from Blynk template
#define BLYNK_DEVICE_NAME "Enter your Blynk device name" // Copy from Blynk template

#endif